/* Reset styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

img {
    max-width: 100%;  
}

/* Link default */
a {
    color: black;
    text-decoration: none;
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

// regole generali mediaqueries


/* Desktop */
@media (max-width: 1200px) {
    .container {
        padding: 0 2rem;
    }
}


// regole media per tablet
@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    
    .card {
        width: 100%;
        max-width: 320px; 
        margin: 0 auto;   
    }

    /// navbar
    .navbar {
        align-items: center;
    }

  

    // regole per AppFeatures
    .features {
        padding: 20px 10px;
        justify-content: center;
        align-items: center;
    }

    .feature {
        width: 100%; 
        justify-content: center;
        text-align: center;
        margin-bottom: 20px; 
    }

    .feature img {
        width: 40px; 
        height: 40px;
    }

    /* Footer  */
    .footer-top {
        align-items: center;
    }

    .footer-column {
        width: 100%;  
        margin-bottom: 20px; 
    }

    .footer-column h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer-column ul {
        font-size: 12px;
    }

    .footer-bottom {
        align-items: center;
    }

    .signup-button {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .social-icons {
        display: flex;
        align-items: center;
    }

    .social-icons a {
        margin: 5px 0; 
    }
}

/* Media query per smartphone 400px a (e.g., very small smartphones) */
@media (max-width: 400px) {

    /* Container */
    .container {
        padding: 0 0.5rem; 
    }

    /* AppFeatures  */
    .features {
        padding: 15px 5px; 
        justify-content: center;
        align-items: center;
    }

    .feature {
        width: 100%;  
        justify-content: center;
        text-align: center;
        margin-bottom: 15px; 
    }

    .feature img {
        width: 35px;  
        height: 35px;
    }

    /* Footer  */
    .footer-column h3 {
        font-size: 14px;  
    }

    .footer-column ul {
        font-size: 10px;  
    }

    .footer-bottom {
        align-items: center;
        padding: 10px;
    }
    // regola bottone

    .signup-button {
        width: 100%; 
        font-size: 12px;
        padding: 8px;
        margin-bottom: 10px;
    }

    // regole social icons
    .social-icons {
        flex-direction: row; 
        justify-content: center;
        margin-top: 10px;
    }

    .social-icons a {
        margin: 0 8px; 
    }
}
